<div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
  <div class="w-container">
    <div class="wrapper-mask" data-ix="menu-mask"></div>
    <div class="navbar-title">Binus Chat</div>
    <a class="w-inline-block navbar-button right" href="/settings" data-ix="search-box">
      <div class="navbar-button-icon smaller icon ion-navicon-round" data-load="1"></div>
    </a>
  </div>
</div>
<div class="body">
  <ul class="list list-chats">
      <!--.chat-body-->
      <li class="w-clearfix list-chat" data-ix="list-item">
      <div class="column-left chat">
          <div class="image-message chat"><img src="chat/images/logo.png">
          </div>
      </div>
      <div class="w-clearfix column-right chat">
          <div class="arrow-globe"></div>
          <div class="chat-text">Hello, I am your Binus Personal Assistant! <br /><br />Please ask for help if you want to know what information I can give to you</div>
          <div class="chat-time">{{ time }}</div>
      </div>
      </li>
      <!--./chat-body-->
  </ul>
</div>
<div class="input-chat-block">
  <div class="w-form">
      <form autocomplete="off" class="w-clearfix" id="wf-form-Send" name="wf-form-Send" data-name="Send" action="#">
		    <input type="text" rows="1" class="w-input input-chat" id="chat-message" placeholder="Your message" name="email" data-name="Email" required="required" >
        <input type="hidden" id="uid" name="uid" value="{{ name }}">
		    <button class="w-button chat-button" type="submit" value="Send" data-wait="Please wait..."><i class="icon ion-android-send"></i></button>
      </form>
      <div class="w-form-done">
      	<p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
      	<p>Oops! Something went wrong while submitting the form</p>
      </div>
  </div>
</div>