<div class="body">
  <ul class="list list-chats">
      <!--.chat-body-->
      <li class="w-clearfix list-chat" data-ix="list-item">
      <div class="column-left chat">
          <div class="image-message chat"><img src="chat/images/128 (4).jpg">
          </div>
      </div>
      <div class="w-clearfix column-right chat">
          <div class="arrow-globe"></div>
          <div class="chat-text">Hello {{ name }}, I am your Binus Personal Assistant! <br /><br />Currently i cannot do anything since I'm still in progress...</div>
          <div class="chat-time">3 mins ago</div>
      </div>
      </li>
      <!--./chat-body-->
  </ul>
</div>
<div class="input-chat-block">
  <div class="w-form">
      <form autocomplete="off" class="w-clearfix" id="wf-form-Send" name="wf-form-Send" data-name="Send" action="#">
		    <input class="w-input input-chat" id="chat-message" type="text" placeholder="Your message" name="email" data-name="Email" required="required">
        <input type="hidden" id="uid" name="uid" value="{{ name }}">
		    <input class="w-button chat-button" type="submit" value="Send" data-wait="Please wait...">
      </form>
      <div class="w-form-done">
      	<p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
      	<p>Oops! Something went wrong while submitting the form</p>
      </div>
  </div>
</div>