<div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
  <div class="w-container">
    <div class="wrapper-mask" data-ix="menu-mask"></div>
    <div class="navbar-title">Binus Chat</div>
    <a class="w-inline-block navbar-button" href="/" data-load="1">
      <div class="navbar-button-icon icon ion-ios-arrow-thin-left"></div>
    </a>
    <a class="w-inline-block navbar-button right" href="/settings" data-ix="search-box">
      <div class="navbar-button-icon smaller icon ion-navicon-round" data-load="1"></div>
    </a>
  </div>
</div>
<div class="body padding">
  <div class="middle-section padding">
      <div class="w-form">
      <form action="/chpass" method="post" >
          <div>
            <label class="label-form" for="email">OLD PASSWORD</label>
            <div class="w-clearfix block-input-combined">
              <input class="w-input input-form left" id="password-field" type="password" name="oldPassword" data-name="oldPassword" required="required">
            </div>
            <div class="separator-fields"></div>
            
            <label class="label-form" for="email">NEW PASSWORD</label>
            <div class="w-clearfix block-input-combined">
              <input class="w-input input-form left" id="password-field" type="password" name="newPassword" data-name="newPassword" required="required">
            </div>
            <div class="separator-fields"></div>
            <label class="label-form" for="email">CONFIRM PASSWORD</label>
            <div class="w-clearfix block-input-combined">
              <input class="w-input input-form left" id="password-field" type="password" name="confirmPassword" data-name="confirmPassword" required="required">
            </div> 
            <div class="separator-fields"></div>
            <label class="warning-text">
              {{ text }}
            </label>
          </div>
          
          <div class="separator-button-input"></div>
          <button class="w-button action-button" type="submit" value="Sign In" data-wait="Please wait...">Submit</button>
      </form>
      <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
      </div>
      </div>
  </div>
</div>