<div class="body padding">
    <div class="w-form">
    <form action="/masuk" method="post" >
        <div>
        <label class="label-form" for="email-field">USERNAME</label>
        <input class="w-input input-form" name="email" data-name="email" >
        <div class="separator-fields"></div>
        </div>
        <div>
        <label class="label-form" for="email">PASSWORD</label>
        <div class="w-clearfix block-input-combined">
          <input class="w-input input-form left" id="password-field" type="password" name="password" data-name="password" ><a class="right-input-link" href="forgot.html" data-load="1">Forgot Password</a>
        </div>
        <div class="separator-button-input"></div>
        </div>
        <button class="w-button action-button" type="submit" value="Sign In" data-wait="Please wait...">Submit</button>
        <div class="separator-button"></div><a class="link-upper" href="signup.html" data-load="1">YOU DON’T HAVE AN ACCOUNT? <strong class="b-link">SIGN UP</strong></a>
    </form>
    <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form</p>
    </div>
    </div>
</div>